* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background: url("../../images/cover.png") center center no-repeat;
  background-size: cover;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.795);
}
.form__title {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}
.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm__text {
  border: 1px solid rgba(71, 222, 168, 0.5);
  width: 260px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  outline: none;
}
.confirm__num {
  font-size: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.form__text {
  width: 100%;
  display: flex;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  width: 240px;
  margin: auto;
}
.button__login {
  margin-top: 10px;
  height: 40px;
  background: #1283d6;
  border: none;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
}
